    html,
    body {
        font-family: Arial;
    }
    
    a,
    img {
        height: auto;
        max-width: 100%;
        outline: none;
        border: none;
    }
    
    #halloween-wrapper{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 101;
    }
    #halloween-overlay, #video-overlay{
        position: fixed;
        display: none;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 101;
        background-color: rgba(0, 0, 0, 1);
        text-align: center;
    }
    
    #halloween-overlay-container,
    #halloween-overlay-container > .el-container {
        height: 100%;
        width: 100%;
        position: relative;
    }
    
    #halloween-canvas-container,
    #halloween-canvas-container > .el-container {
        display: inline-block;
        position: relative;
    }
    
    #halloween-canvas-container {
        max-width: 100%;
        position: absolute;
        left: 50%;
        top: 50%;
        opacity: 0;
    }
    
    #halloween-overlay-container {
        background: url('http://apps.aquaonline.com/Showmaxhalloween/images/bg.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100% auto;
    }
    
    #halloween-overlay-container > .el-container {
        position: relative;
        overflow: hidden;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100% auto;
    }
    .black-bg{
    	background-color:#000;
    }
    
    .smaller-ratio #halloween-overlay-container > .el-container,
    .smaller-ratio #halloween-overlay-container,
    .smaller-ratio #halloween-canvas {
        background-size: auto 100%;
    }
    #halloween-canvas {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 100%;
        width: 100%;
        /* background: url('images/bg-overlay.png'); */
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100% auto;
    }
    
    #image-holder {
        height: auto;
        max-width: 100%;
        display: inline-block;
        opacity: 0;
        visibility: hidden;
    }
    .hide-cursor{
    	cursor: none;
    }
    .glitch {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: none;
        cursor: none;
        background-position: center;
    }
    
    #glitch1 {
        background-image: url(http://apps.aquaonline.com/Showmaxhalloween/images/glitchworx-test-768.gif);
    }
    
    #glitch2 {
        background-image: url(http://apps.aquaonline.com/Showmaxhalloween/images/glitchworx-test-02-768.gif);
    }
        
    #happy-halloween {
        width: 100%;
        max-width: 1909px;
        display: block;
        margin: 0 auto;
    }
    
    #happy-halloween-mobile {
        display: block;
        width: 80%;
        max-width: 935px;
        opacity: 0;
        margin: 0 auto;
    }
    #close-overlay{
    	display:none;
    }
    #films, #films-tablet {
        display: block;
        width: 50%;
        max-width: 928px;
        opacity: 0;
        margin: 0 auto;
        cursor: pointer;
    }
    .body-class{
    	text-align: center;
    }
    .show-on-mobile {
        display: none !important;
    }
    #close-overlay{
    	position: absolute;
    	top: 0;
    	right: 0;
    	padding: 20px;
    	cursor: pointer;
    	z-index: 5;
    }
    .show-on-tablet{
    	display: none !important;
    }
    @media (min-width: 1024px) {
	    #glitch1 {
	        background-image: url(http://apps.aquaonline.com/Showmaxhalloween/images/glitchworx-test-1024.gif);
	    }
	    
	    #glitch2 {
	        background-image: url(http://apps.aquaonline.com/Showmaxhalloween/images/glitchworx-test-02-1024.gif);
	    }
    }
    @media (max-width: 1024px) {
	    #glitch1 {
	        background-image: url(http://apps.aquaonline.com/Showmaxhalloween/images/glitchworx-test-1024.gif);
	    }
	    
	    #glitch2 {
	        background-image: url(http://apps.aquaonline.com/Showmaxhalloween/images/glitchworx-test-02-1024.gif);
	    }
    	.hide-on-tablet{
    		display: none !important;
    	}
    	.show-on-tablet{
    		display: block !important;
    	}
    }
    @media (max-width: 768px) {
	    #glitch1 {
	        background-image: url(http://apps.aquaonline.com/Showmaxhalloween/images/glitchworx-test-768.gif);
	    }
	    #glitch2 {
	        background-image: url(http://apps.aquaonline.com/Showmaxhalloween/images/glitchworx-test-02-768.gif);
	    }
        #films, #films-tablet {
            width: 80%;
        }
        .hide-on-mobile {
            display: none !important;
        }
        .show-on-mobile {
            display: block !important;
        }
    }